.container {
    margin-top: 20px;
}
.product-info {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
}
.quantity-input {
    width: 50px;
    text-align: center;
}
.add-to-cart-btn {
    background-color: #e60067; /* Koyu pembe */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#neubar {
    background: #f3cc33;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4);
    height: 5em;
  }
  

  .nav-item .active {
    border-bottom:black 2px solid ;
}
a
{
    text-decoration: none;
}
input{
    border-radius: 10px;
}
input:focus {
    outline: none;
    /* Dilediğiniz diğer stillemeleri ekleyebilirsiniz */
}

  #neubar .nav-item a:hover {

        /* top: -10px; */
        transform: translateY(-3px);
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
  
    padding-left:12px;
    padding-right:12px;
  }