<!DOCTYPE html>
<html lang="en">
<head>
    <script>
      let token=localStorage.getItem('token')
      if(token){
        window.location.href='login.html'
      }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <section class="text-center">
        <!-- Background image -->
        <div class="p-5 bg-image txt-white" style="
              background-color: black;
              height: 300px;
              ">
              <div class="text-center">
                    <h1 class="display-4 text-white fw-bolder">Our Shop</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Our Shop is your shop</p>
                </div>
              
            </div>
        <!-- Background image -->
      
        <div class="card mx-4 mx-md-5 shadow-5-strong " style="
              margin-top: -100px;
              background: hsla(0, 0%, 100%, 0.8);
              backdrop-filter: blur(40px);
              ">
          <div id="card-body" class="card-body py-5 px-md-5">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 form-row align-items-center">
                <h2 class="fw-bold mb-5">Reset Password</h2>
                <p>İf user is available in our database we will deliver link to reset your password</p>
                <form method="post" onsubmit="event.preventDefault(); resetPassword()">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="form-outline mb-4 col-auto">
                  <input type="text" id="username" class="form-control" />
                  <label class="form-label" for="username">Username</label>
                </div>
        
                  
                  <div  class="form-outline mb-4 col-auto warning">

                  </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                     Reset Password
                  </button>
      
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script src="script.js"></script>
      <script src="app.js"></script>
    
</body>
</html>